html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--bg-color);
}

a,
li {
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body-wraper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

/* ================== */

.centered-top-message {
  display: grid;
  justify-content: left;
  align-items: flex-start;
  margin-top: 10vh;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 16px;
  // text-align: center;
}

.error-message {
  @extend .centered-top-message;
  color: var(--text-error);
}

.loading, .no-results {
  @extend .centered-top-message;
  color: var(--unknown);
}
.no-results {
  @extend .centered-top-message;
  gap: 12px;
}
.no-result.one {
  margin: 0;
}
.search-term {
  font-weight: 500px;
}
.no-result.two {
  color: var(--repeat);
  margin: 0;
}