html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: var(--bg-color);
}

a,
li {
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body-wraper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

/* ================== */

.centered-top-message {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10vh;
  font-family: 'CormorantSC', serif;
  font-weight: 800;
  font-size: 26px;
  text-align: center;
}

.error-message {
  @extend .centered-top-message;
  color: var(--text-error);
}

.loading, .no-results {
  @extend .centered-top-message;
  color: var(--text-answer);
}
// .no-results.two {
//   @extend .centered-top-message;
// }