.header {
    margin-bottom: 44px;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 100px 30px;
        padding: 30px 0 30px;
    }

    &__button {
        cursor: pointer;
        border: none;
        border-radius: 100%;
        background: #FCFCFC;
        padding: 10px;
        transition: background .3s;

        &:hover {
            background: #F3F3F3;
        }
        &:focus {
            background: #F3F3F3;
        }
    }
}

/* =============== */

.section_1 {
    &__box_search-engine {
        display: flex;
        align-items: center;
        justify-content: right;
    }

    &__search-engine {
        width: 392px;
        display: flex;
        align-items: center;
        gap: 22px;
        padding: 10px 18px 10px;
        border: 1px solid #DEDEDE;
        border-radius: 4px;
        transition: border .2s;
        
        &:focus-within {
            border: 1px solid #575757;
        }

        .search-section {
            display: flex;
            align-items: center;
            gap: 14px;
            flex: 1;
        }

        .label__button {
            cursor: pointer;
            background: none;
            border: none;
            padding: 0;
        }
    }

    &__input {
        width: 100%;
        border: none;
        color: #575757;

        &::placeholder {
            color: #9C9C9C;
        }

        &:focus {
            outline: none;
        }
    }
}

/* =============== */

.section_2 {
    margin-top: 20px;

    &__gallery-list {
        padding: 0;
        margin: 0;
    }

    &__gallery-item {
        position: relative;
    }
    &__gallery-photo {
        display: block;
        width: 100%;
    }
    &__item-info {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 300px;
        background: #fff;
        padding: 20px 0 20px 0;
        z-index: 1;

        .item-info__element {
            padding-left: 20px;
            border-left: 2px solid #9B4B4B;

            .item-title {
                font-weight: 500;
                font-size: 16px;
                text-transform: uppercase;
                color: #121212;
                margin: 0 0 12px 0;
            }

            .item-date {
                font-weight: 700;
                font-size: 12px;
                text-transform: uppercase;
                color: #9B4B4B;
                margin: 0;
            }
        }
    }
}

.section_3 {
    margin-top: 40px;

    &__pagination-list {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .pagination-group__list {
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}