@media (max-width: 1265px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section_2 {
    min-height: 708px;

  // &__gallery-list {
  //   grid-template-columns: repeat(2, minmax(clamp(392px, 50vw, 392px), 1fr));
  // }

    // &__gallery-item {
    //   width: 320px;
    //   // width: clamp(280px, 40vw, 392px);
    //   position: relative;
    //   overflow: hidden;
    //   // aspect-ratio: 4/3; // A CSS property that specifies the aspect ratio of an element, such as an image or video.
    //   cursor: pointer;

    //   &:hover {
    //     .section_2__gallery-photo img {
    //       transform: scale(1.1);
    //     }

    //     .item-text.name {
    //       transform: translateY(100%);
    //       opacity: 0;
    //     }

    //     .item-info__additional {
    //       left: 0;
    //       opacity: 1;
    //     }
    //   }
    // }
  }
  .section_2__item-info {
    .item-info__element {
      padding-left: 12px;
      border: none;

      .item-title {
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        color: var(--text-color);
        margin: 0 0 clamp(4px, 3vw, 12px) 0;
      }

      .item-date {
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        color: var(--gallery-color);
        margin: 0;
      }
    }
  }
}