:root[data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #121212;
    --border-color: #dedede;
    --search-color: #fff;
    --pagination-color: #575757;
    --header-button-bg: #FCFCFC;
    --header-button-hover: #F3F3F3;
    --placeholder-color: #9c9c9c;
    --hover-bg: #1212120d;
    --gallery-color: #9B4B4B;
    --svg-color: #575757;
    --svg-hover: #121212;
    --svg-shell: #1212120D;
}

:root[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #DEDEDE;
    --border-color: #1A1818;
    --search-color: #1A1818;
    --pagination-color: #DEDEDE;
    --header-button-bg: #1A1818;
    --header-button-hover: #1B1B1B;
    --placeholder-color: #575757;
    --hover-bg: #ffffff1a;
    --gallery-color: #AB8956;
    --svg-color: #DEDEDE;
    --svg-hover: #FFFFFF;
    --svg-shell: #1A1818;
}