:root[data-theme='light'] {
  --bg-color: #ffffff;

  --header-button-bg: #fcfcfc;
  --header-button-hover: #f3f3f3;
  // --hover-bg: #1212120d;

  --search-color: #fff;
  --border-color: #dedede;
  --input-color: #575757;
  --placeholder-color: #9c9c9c;
  --text-color: #121212;

  --gallery-color: #9b4b4b;

  --pagination-color: #575757;
  --svg-color: #575757;
  --svg-hover: #121212;
  --svg-shell: #1212120d;
  --border-bottom: #9c9c9c;
}

:root[data-theme='dark'] {
  --bg-color: #121212;

  --header-button-bg: #1a1818;
  --header-button-hover: #1b1b1b;
  // --hover-bg: #ffffff1a;

  --search-color: #1a1818;
  --border-color: #1a1818;
  --input-color: #DEDEDE;
  --placeholder-color: #575757;
  --text-color: #dedede;

  --gallery-color: #ab8956;

  --pagination-color: #dedede;
  --svg-color: #dedede;
  --svg-hover: #ffffff;
  --svg-shell: #1a1818;
  --border-bottom: #575757;
}